<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_password</title>
</head>
<body>
    <div class="container" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <form action="/password/reset/<%=token%>"  method="post" style="display: flex; flex-direction: column; align-items: center; gap: 10px; border: 2px solid black; padding: 20px; border-radius: 10px;">
            <input type="password" placeholder="new_password" class="input" name="new_password" style="padding: 10px 15px; border-radius: 10px;">
            <button style="padding: 7px 13px; border-radius: 10px; border: 2px solid black; cursor: pointer;">Submit</button>
        </form>
    </div>

    <script>
        const input = document.querySelector(".input")
        const button = document.querySelector("button")
        button.disabled = true
        input.addEventListener("input" , ()=> {
            const length = input.value.length;
            if(length < 6){
                console.log("less than 6")
                button.disabled = true
            } 
            else{
                console.log("more than 6")
                button.disabled = false
            }
        })
    </script>
    
</body>
</html>